[Unit]
Description=Golem
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__PATH__
ExecStart=__PATH__/.venv/bin/golem forge
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
